<form action="http://localhost:3000/Employees/" method="post" class="form-horizontal" id ="new_reimburse">
                      <fieldset>


                        <!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="Enter your name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="Enter your email id" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter a password" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="contact">Contact no.</label>  
  <div class="col-md-4">
  <input id="contact" name="contact" type="text" placeholder="Enter your contact no." class="form-control input-md" required="">
    
  </div>
</div>-->

<!-- Select Basic -->

<div class="form-group">
<input type="hidden" name="reimbursement_type_id" />
  <label class="col-md-4 control-label" for="Emp_Type">Emp_Type</label>
  <div class="col-md-4">
    <select id="Emp_Type" type="number" name="Emp_Type" class="form-control" required>
      <option value="">Select</option>
      <!-- <option value="1">Regular</option>
      <option value="2">FT</option>
      <option value="3">UPL</option> -->
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Reimbursement_description">Reimbursement Description</label>  
  <div class="col-md-4">
    <input id="Reimbursement_description" name="Reimbursement_description" type="text" placeholder="Type" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->


<div class="form-group">
  <label class="col-md-4 control-label" for="amount">Amount</label>  
  <div class="col-md-4">
    <input id="amount" name="amount" type="number" placeholder="Enter amount" class="form-control input-md" required="" >
    
  </div>


</script>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="frequency">Frequency</label>  
  <div class="col-md-4">
    <input id="frequency" name="frequency" type="number" placeholder="Enter frequency" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="dist">District</label>  
  <div class="col-md-4">
  <input id="dist" name="dist" type="text" placeholder="Enter your district" class="form-control input-md" required="">
    
  </div>
</div>-->

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success">Submit</button>
  </div>
</div>

</fieldset>
</form>