<!DOCTYPE html>
<html lang="en">


<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Reimbursement Admin</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

  <link href="css/table-fixedheader.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style> td{padding:8px;}.btnSelect{background-color:#f44336;border:2px solid #f44336;border-radius:4px;color:white;cursor:pointer;}.btnSelect:hover{background-color:#c93326;border:2px solid #c93326;}</style>
        <style type="text/css">
          
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

        </style>
      </head>
      

      <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

      <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">Reimbursement Admin</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                  <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                  <a class="page-scroll" href="#about">All Reimbursements</a>
                </li>
                <li>
                  <a class="page-scroll" href="#services">Update Reimbursement</a>
                </li>
                <li>
                  <a class="page-scroll" href="#contact">New Reimbursement</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>

        <!-- Intro Section -->
        <section id="intro" class="intro-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                    <!--<h1>Scrolling Nav</h1>
                    <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                    <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>-->
                  </div>
                </div>
              </div>
            </section>

            <!-- About Section -->
            <section id="about" class="about-section">
              <div class="container">
                <div class="row" >
                <h1>All Reimbursements</h1>
                <form id="delete_form"></form>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th >#</th>
                          <th>Employee Type</th>
                          <th>Reimbursement Type</th>
                          <th>Amount</th>
                          <th>Frequency</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                    </table>
                  <div class="col-lg-12" style="overflow-y: scroll; height:300px;">
                    
                    <table class="table table-hover" id ="testtable" >
                      
                      <tbody id="all_reimbursements">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </section>

            <!-- Services Section -->
            <section id="services" class="services-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <h1>Update Reimbursement</h1>
                  </div>
                </div>
              </div>
            </section>
            <div>
            <% include update_reimbursement.ejs %>
            </div>
            <!-- Contact Section -->
            <section id="contact" class="contact-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <h1>New Reimbursement</h1>
                    <% include new_reimbursement_form.ejs %>



</div>
</div>
</div>
</section>
<script type="text/javascript">

  window.onload = function() {

    $.getJSON( "http://localhost:3000/Employees/",{
      format: "json"
    } ,
    function( data ) {
      localStorage.setItem("empType", data);
      $.each(data, function(key,value) {
        $('#Emp_Type').append($("<option />").val(value.id).text(value.description));
        localStorage.setItem(value.description,value.id);
      });
    });

    updateTable();
  };
</script>
<script type="text/javascript">
  $(document).on('click','.btnSelect',function(){
     var currentRow=$(this).closest("tr");
     var reimbursement_type_id=currentRow.find("th:eq(0)").html();
     var emp_type=currentRow.find("td:eq(0)").html();
     var reimbursement_description=currentRow.find("td:eq(1)").html();
     var amount=currentRow.find("td:eq(2)").html();
     var frequency=currentRow.find("td:eq(3)").html();
     if($(this).text()==='Update'){
     $('#update_Emp_Type').val(emp_type);
     $('#update_Reimbursement_description').val(reimbursement_description);
     $('#update_amount').val(amount);
     $('#update_frequency').val(frequency);
     $('#update_Emp_Type').prop('disabled', true);
     $('#update_Reimbursement_description').prop('disabled',true);
     var update_action = 'http://localhost:3000/Reimbursements/'+reimbursement_type_id;
     $('#update_reimburse').attr('action', update_action);
     $('#update_submit').click(function() {
  //$('#update_reimburse').submit();
  $.ajax({
            type: "POST",
            url: update_action,
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });

});
     } else{
      $.ajax({
            type: "DELETE",
            url: "http://localhost:3000/Reimbursements/"+reimbursement_type_id,
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
     }
  });
  
</script>
<script type="text/javascript">
  

  function updateTable() {
    $.getJSON( "http://localhost:3000/Reimbursements/",{
      format: "json"
    } ,
    function( data ) {
      var empType = localStorage.getItem("empType");
      $.each(data, function(key,value) {
        $('#all_reimbursements').append('<tr><th scope="row">'+value.id+'</th><td>'+value.emp_type+
        '</td><td>'+value.description+'</td><td>'+value.amount+'</td><td>'+value.frequency+
        '</td><td>'+
        '<a class="page-scroll btnSelect"  href="#myModal" data-toggle="modal" style="color:white;background-color:green;">Update</a>&nbsp;&nbsp;'+'<a class="page-scroll btnSelect"  >Delete</a>'+'</td></tr>');
      });
    });
  }
</script>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>

</body>

</html>
